.dropdown {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-width: 100%;
  padding: 12px;
  border: 0;
  border-radius: inherit;
  background-color: #fff;
  color: $dark-shade-75;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  appearance: none;
  appearance: none;
  appearance: none;
}

.dropdown__text {
  overflow: hidden;
  max-width: 71%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown__arrow {
  font-size: 24px;
  font-family: "Material-Icons";
}

.dropdown-container {
  position: relative;
}

.dropdown-container__body {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
}

.dropdown-container--opened .dropdown-container__body {
  display: block;
}
