.dropdown {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  padding: 0;
  border: 0;
  border-radius: inherit;
  background-color: #fff;
  color: $dark-shade-75;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  appearance: none;
}

.dropdown__arrow {
  font-size: 24px;
  font-family: "Material-Icons";
  transition: all 0.2s ease;
}

.dropdown-container {
  position: relative;
}

.dropdown-container__body {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
}

.dropdown-container_opened .dropdown-container__body {
  display: block;
}

.dropdown-container_opened .dropdown__arrow {
  transition: all 0.2s ease;
  transform: rotate(180deg);
}
