.dropdown {
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  color: $dark-shade-75;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
}
