.dropdown {
  position: relative;
  width: 100%;
}

.dropdown__button {
  @include input-element();

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
  background-color: #fff;
  color: $dark-shade-75;
  appearance: none;
}

.dropdown__button_flat {
  max-height: fit-content;
  padding: 0 12px 0 0;
  border: 0;

  &:focus,
  &:hover {
    border: 0;
  }
}

.dropdown__button__text_nowrap {
  overflow: hidden;
  max-width: 71%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown__button__text_bold {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.dropdown__button__arrow {
  color: $dark-shade-50;
  font-size: 24px;
  font-family: "Material-Icons";
  transition: all 0.2s ease;
}

.dropdown__body {
  display: none;
  min-width: max-content;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.dropdown__body_shadowless {
  box-shadow: none;
}

.dropdown_splitted {
  .dropdown__button {
    max-width: 150px;
  }
}

.dropdown_opened {
  .dropdown__button {
    border-color: $dark-shade-50;
    border-radius: 4px 4px 0 0;
    color: $dark-shade-75;
    transition: 0.2s;
  }

  .dropdown__button_with-gap {
    margin-bottom: 5px;
    border-radius: 4px;
  }
}

.dropdown_opened .dropdown__body {
  display: flex;
}

.dropdown_opened .dropdown__button__arrow {
  transition: all 0.2s ease;
  transform: rotate(180deg);

  &:focus {
    z-index: 1;
  }
}

@media (max-width: $tiny-screen) {
  .dropdown__body {
    min-width: 100%;
  }

  .dropdown_splitted {
    .dropdown__button {
      max-width: 100%;
      font-size: 13px;
    }
  }
}
