mixin dropdown(default_option, counters)
  select.dropdown
    option(value="" disabled selected)
      | #{default_option}
    each counter in counters
      option(value=counter)
        | #{counter}
