.room-details__body {
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
}

.room-details__body__photos {
  display: flex;
  flex-flow: row nowrap;
}

.room-details__body__photos-big {
  width: 68%;
  height: auto;
}

.room-details__body__photos-lower-group {
  display: flex;
  flex-flow: column nowrap;
  width: 32%;
  height: auto;
}

.room-details__body__photos-lower {
  width: 100%;
  height: auto;
}

.room-details__body__desc {
  display: flex;
  flex-flow: row nowrap;
  gap: 70px;
  align-self: center;
  padding: 70px 0;
}

.room-details__body__desc__left {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.room-details__body__desc-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 100px;
  justify-content: space-between;
}

.room-impressions {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  padding-top: 5px;
  padding-left: 5px;
}

.statictic-ring {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: transparent;
}

.room-impressions__center-ring {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 93%;
  height: 93%;
  border-radius: 50%;
  background-color: #fff;
  color: $purple-color;

  > span {
    font-weight: bold;
    font-size: 24px;
    font-family: "Quicksand", "OpenSans", sans-serif;
  }
}

.room-impressions__magnificent-ring {
  position: absolute;
  left: 0;
  width: 60px;
  height: 120px;
  border-right: 2px solid #fff;
  border-radius: 120px 0% 0% 120px;
  background-image: linear-gradient(#ffe39c 0%, #ffba9c 100%);
}

.room-impressions__good-ring {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-radius: 0% 0% 100%;
  background-image: linear-gradient(#6fcf97 0%, #66d2ea 100%);
}

.room-impressions__nice-ring {
  position: absolute;
  top: 0;
  left: 60px;
  width: 60px;
  height: 60px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-radius: 0% 100% 0% 0%;
  background-image: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
}

.color-bullet-list {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  max-width: 260px;
  padding-left: 20px;
  list-style-type: none;

  > li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    margin-top: 6px;
    border-radius: 50%;
  }

  > li:nth-child(1)::before {
    background-image: linear-gradient(#ffe39c 0%, #ffba9c 100%);
  }

  > li:nth-child(2)::before {
    background-image: linear-gradient(#6fcf97 0%, #66d2ea 100%);
  }

  > li:nth-child(3)::before {
    background-image: linear-gradient(#bc9cff 0%, #8ba4f9 100%);
  }

  > li:nth-child(4)::before {
    background-image: linear-gradient(#909090 0%, #3d4975 100%);
  }
}

.room-details__body__comment-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  margin-bottom: 30px;
  padding-top: 7px;
}

@media (max-width: $large-screen) {
  .room-details__body__photos-big {
    max-width: 100%;
  }
}

@media (max-width: $middle-screen) {
  .room-details__body__desc {
    flex-flow: column nowrap;
  }

  .room-details__body__desc__right {
    align-self: center;
  }
}

@media (max-width: $small-screen) {
  .room-details__body__desc__left {
    gap: 30px;
  }

  .room-details__body__desc-row {
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
  }
}
