extends ../common.pug

block title
  | Room Details

block body
  include ../../components/element-wrapper/element-wrapper.pug
  include ../../components/header/header.pug
  include ../../components/footer/footer.pug
  include ../../components/cards/book-a-room/book-a-room.pug
  include ../../components/top-feature/top-feature.pug
  include ../../components/comment/comment.pug
  include ../../components/bullet-list/bullet-list.pug

  +header(false, true)
  main.room-details__body
    .room-details__body__photos
      img(src="/static/room_888_big.webp").room-details__body__photos-big
      .room-details__body__photos-lower-group
        img(src="/static/room_888_details_1.webp").room-details__body__photos-lower
        img(src="/static/room_888_details_2.webp").room-details__body__photos-lower
    .room-details__body__desc
      .room-details__body__desc__left
        .room-details__body__desc-row
          +element-wrapper({
            label: 'Сведения о номере',
            sub_label: '',
            inline: false,
            extra_spacing: true,
            large_label: true
          })
            +top-feature('insert_emoticon', 'Комфорт', 'Шумопоглащающие стены')
            +top-feature('location_city', 'Удобство', 'Окно в каждой из спален')
            +top-feature('whatshot', 'Уют', 'Номер оснащён камином')
          +element-wrapper({
            label: 'Впечатления от номера',
            sub_label: '',
            inline: false,
            extra_spacing: true,
            large_label: true
          })
            .room-impressions
              .statictic-ring
                .room-impressions__magnificent-ring
                .room-impressions__good-ring
                .room-impressions__nice-ring
                .room-impressions__center-ring
                  span= "260"
                  | голосов
              ul.color-bullet-list
                li Великолепно
                li Хорошо
                li Удовлетворительно
                li Разочарован
        +element-wrapper({
          label: 'Отзывы поситителей номера',
          sub_label: '2 отзыва',
          inline: false,
          extra_spacing: true,
          large_label: true
        })
          .room-details__body__comment-section
            +comment('/static/comment_avatar_1.webp', 'Мурад Сарафанов', '5 дней назад', {name: 'comment-like-1', liked: true, like_count: 12})
              | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясаяющий.
              | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто
              | не жаловался из соседей.
            +comment('/static/comment_avatar_2.webp', 'Мурад Сарафанов', 'Неделю назад', {name: 'comment-like-2', liked: false, like_count: 2})
              | Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,
              | каждый день новое блюдо и десерт как комплимент
        .room-details__body__desc-row
          +element-wrapper({
            label: 'Правила',
            sub_label: '',
            inline: false,
            extra_spacing: true,
            large_label: true
          })
            +bullet-list([
              'Нельзя с питомцами',
              'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00, а выезд до 12:00 ',
            ])
          +element-wrapper({
            label: 'Отмена',
            sub_label: '',
            inline: false,
            extra_spacing: true,
            large_label: true
          })
            pre
              | Бесплатная отмена в течение 48 ч. После
              | этого при отмене не позднее чем за 5 дн. до
              | прибытия вы получите полный возврат за
              | вычетом сбора за услуги
      .room-details__body__desc__right
        +book-a-room-card()
  +footer()
