.pagination {
  display: flex;
  flex-flow: column;
}

.pagination__button {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  color: $dark-shade-50;
  font-size: 12px;
  line-height: 15px;
}

.pagination__button_active {
  background-image: $primary-gradient;
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.pagination__button_next {
  background-image: $secondary-gradient;
  color: #fff;
  font-size: 24px;
  font-family: "Material-Icons";
  line-height: 24px;
}

.pagination__range {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;
}

.pagination__footer {
  padding-left: 5px;
}
