.action-buttons__body {
  display: flex;
  justify-content: space-between;
}

.action-buttons__action-button {
  border: 0;
  background-color: #fff;
  color: $purple-color;
  font-weight: bold;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 15px;
  text-transform: uppercase;
}

.action-buttons__cancel-button {
  visibility: hidden;
}

.action-buttons_dirty .action-buttons__cancel-button {
  visibility: visible;
}
