mixin action-buttons
  .action-buttons.js-action-buttons
    block
    .action-buttons__body
      button.action-buttons__action-button.action-buttons__cancel-button.js-action-button-cancel
        | очистить
      button.action-buttons__action-button.action-buttons__apply-button.js-action-button-apply
        | применить
