@import './consts.scss';


h1 {
  font-family: 'Quicksand';
  font-weight: bold;
  color: $dark-shade-100;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: 'Quicksand';
  font-weight: bold;
  color: $dark-shade-100;
  font-size: 19px;
  line-height: 24px;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-shade-100;
  font-size: 12px;
  line-height: 15px;
}

body {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}

.text_dark-shade-100 {
  color: $dark-shade-100;
}

.quicksand {
  font-family: 'Quicksand';
}

.montserrat {
  font-family: 'Montserrat';
}

.bgc_dark-shade-100 {
  background-color: $dark-shade-100;
}

.bgc_dark-shade-75 {
  background-color: $dark-shade-75;
}

.bgc_dark-shade-50 {
  background-color: $dark-shade-50;
}

.bgc_dark-shade-25 {
  background-color: $dark-shade-25;
}

.bgc_dark-shade-5 {
  background-color: $dark-shade-5;
}

.bgc_purple-color {
  background-color: $purple-color;
}

.bgc_green-color {
  background-color: $green-color;
}
