@import './consts.scss';


.text_dark-shade-100 {
  color: $dark-shade-100;
}

.text {
  font-family: 'Quicksand';
}

.text_uppercase {
  text-transform: uppercase;
}

.text_bold {
  font-family: 'Quicksand-Bold';
}

.bgc_dark-shade-100 {
  background-color: $dark-shade-100;
}

.bgc_dark-shade-75 {
  background-color: $dark-shade-75;
}

.bgc_dark-shade-50 {
  background-color: $dark-shade-50;
}

.bgc_dark-shade-25 {
  background-color: $dark-shade-25;
}

.bgc_dark-shade-5 {
  background-color: $dark-shade-5;
}

.bgc_purple-color {
  background-color: $purple-color;
}

.bgc_green-color {
  background-color: $green-color;
}
