@import './consts.scss';


h1 {
  font-family: 'Quicksand-bold';
  font-size: 24px;
  line-height: 30px;
  color: $dark-shade-100;
}

h2 {
  font-family: 'Quicksand-bold';
  font-size: 19px;
  line-height: 24px;
  color: $dark-shade-100;
  margin-top: 20px;
}

h3 {
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade-100;
  margin-top: 28px;
}

body {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}

.text_dark-shade-100 {
  color: $dark-shade-100;
}

.quicksand {
  font-family: 'Quicksand';
}

.montserrat {
  font-family: 'Montserrat';
}

.text_uppercase {
  text-transform: uppercase;
}

.text_capitalize {
  text-transform: capitalize;
}

.quicksand_bold{
  font-family: 'Quicksand-Bold';
}

.bgc_dark-shade-100 {
  background-color: $dark-shade-100;
}

.bgc_dark-shade-75 {
  background-color: $dark-shade-75;
}

.bgc_dark-shade-50 {
  background-color: $dark-shade-50;
}

.bgc_dark-shade-25 {
  background-color: $dark-shade-25;
}

.bgc_dark-shade-5 {
  background-color: $dark-shade-5;
}

.bgc_purple-color {
  background-color: $purple-color;
}

.bgc_green-color {
  background-color: $green-color;
}
