include ../text-field/text-field.pug
include ../button/button.pug
include ../link-button/link-button.pug
include ../card/card.pug

mixin login-card
  .login-card
    +card()
      h1
        | Войти
      form(method="post", href="#").login-card__form
        .login-card__form__fields
          +text-field({type: 'email', placeholder: 'Email'})
          +text-field({type: 'password', placeholder: 'Пароль'})
        +button({type: 'action'})
          | Войти
      .login-card__footer
        +link-button({
          desc: 'Нет аккаунта на Toxin?',
          href: '../registration/',
          text: 'создать',
          button_props: {theme: 'bordered'}
        })
