include ../../buttons/action-button.pug
include ../../date-dropdown/date-dropdown.pug
include ../../dropdown-counter/dropdown-counter.pug
include ../../room-item/room-item.pug

mixin book-a-room()
  .card.book-a-room
    +room-desc('888', '9 990', true)
    +date-dropdown(
      {label: 'прибытие', placeholder: '19.08.2019'},
      {label: 'выезд', placeholder: '23.08.2019'}
    )
    +dropdown-counter('guest-counter', 'Гости', 'Сколько гостей', ['взрослые', 'дети', 'младенцы'], true, true)
    +action-button('забронировать')
