include ../../element-wrapper/element-wrapper.pug
include ../../button/button.pug
include ../../date-dropdown/date-dropdown.pug
include ../../dropdown-counter/dropdown-counter.pug
include ../../calendar/calendar.pug
include ../../room-item/room-item.pug

mixin book-a-room-card
  .card.book-a-room
    +room-desc('888', '9 990', true)
    +date-dropdown('прибытие', 'выезд')
    +element-wrapper({ label: 'Гости', })
      +dropdown-counter({
        id: 'book-a-room-guests-counter',
        placeholder: 'Сколько гостей',
        counters: [
          {name: 'взрослые', value: 1},
          {name: 'дети', value: 1},
          {name: 'младенцы', value: 1}
        ], counting_way: 'sum', declensions: {'singular': 'гость', 'genitive': 'гостя', 'plural': 'гостей'},
        opened: false, need_to_be_applied: true,
      })
    .bill
      .bill__row
        .bill__row__desc
          .bill__row__text
            | 9 900₽ x 4 суток
        .bill__row__count= "39 960₽"
      .bill__row
        .bill__row__desc
          .bill__row__text
            | Сбор за услуги: скидка 2 179₽
          .bill__row__info
        .bill__row__count= "0₽"
      .bill__row
        .bill__row__desc
          .bill__row__text
            | Сбор за дополнительные услуги
          .bill__row__info
        .bill__row__count= "300₽"
      .bill__row.bill__row-result
        | Итого
        .bill__row-result__dashed-line
        .bill__row__count= "38 081₽"
    +button({text: 'Забронировать', type: 'action'})
