extends ../common.pug

block head
  meta(
    name="description"
    content="toxin hotel booking website login page"
  )

block title
  | Login

block body
  include ../../components/header/header.pug
  include ../../components/footer/footer.pug
  include ../../components/login-card/login-card.pug

  +header(false, true)
  main.login-page
    +login-card
  +footer
