.login-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 830px;

  background-image: url("./images/bg_login-registration.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
