.rate-button {
  font-family: 'Material-Icons';
}

.rate-button__star {
  font-family: 'Material-Icons';
  display: inline-flex;
  width: 24px;
  font-size: 24px;
  line-height: 20px;
  background: $from-purple-to-blue-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
