$star-size: 24px;

.rate-button {
  width: $star-size * 5;
  height: $star-size;
  font-family: "Material-Icons";

  &:focus-within {
    outline: 1px solid $purple-color;
    outline-offset: 0.3rem;
  }
}

.rate-button__star {
  display: inline-flex;
  width: $star-size;
  height: $star-size;
  background: $primary-gradient;
  background-clip: text;
  font-size: $star-size;
  font-family: "Material-Icons";
  line-height: $star-size;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  appearance: none;
}

.rate-button__star::after {
  content: "star";
}

.rate-button__star:checked ~ .rate-button__star::after {
  content: "star_border";
}

.rate-button__label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
