mixin rate-button(count)
  .rate-button
    - for (var i = 0; i < count; i++)
      .rate-button__star.rate-button__star_filled
        | star_rate

    - for (var i = 0; i < 5 - count; i++ )
      span.rate-button__star.rate-button__star_empty
        | star_border
