.form-elements {
  display: grid;
  grid-template-rows: 2fr repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 120px;
}

.form-elements__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}

.form-elements__comment-container {
  grid-column: 2 / 4;
}

.form-elements__text-fields {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.form-elements__checkbox-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.form-elements__rich-checkbox-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.form-elements__toggle-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.form-elements__container--narrow {
  max-width: 266px;
}

.form-elements__buttons {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.form-elements__buttons__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  min-height: 44px;
}
