@import "./colors&types";
@import "./form-elements";
@import "./cards";
@import "./headers&footers";

.toolbox {
  padding-top: 140px;
  padding-bottom: 140px;
}

.toolbox--gray {
  background-color: #f4f4f6;
}
