@import './colors&types.scss';
@import './form-elements.scss';
@import './cards.scss';
@import './headers&footers.scss';


.toolbox {
  padding-top: 140px;
  padding-bottom: 140px;

  background: #F4F4F6;
}
