.landing {
  position: relative;
  height: 1000px;
  background-image: url("./images/bg_landing.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  > .search-room-card {
    position: absolute;
    top: 70px;
    left: 140px;
  }
}

.landing__text {
  position: absolute;
  right: 10%;
  bottom: 18px;
}

@media (max-width: $middle-screen) {
  .landing {
    padding-top: 70px;

    > .search-room-card {
      position: static;
      margin: auto;

      .card {
        margin: auto;
      }
    }
  }
}
