.landing {
  height: 1000px;

  position: relative;
  background-image: url("./images/bg_landing.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  > .search-room {
    position: absolute;
    top: 70px;
    left: 160px;
  }
}


@media (max-width: $middle-size) {
  .landing {
    > .search-room {
      position: relative;
      left: 0;
      margin: auto;
    }
  }
};