mixin menu(menu_list)
  menu.menu
    ul.menu__list
      each item in menu_list
        - var expandable = item.children ? "menu__item_expandable" : "";
        li.menu__item(class=expandable)
          .menu__item__text= item.text
          if item.children
            ul.menu__submenu-list
              each subitem in item.children
                li.menu__submenu-list__item= subitem.text
