.menu__list {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.menu__item__text::first-letter {
  text-transform: uppercase;
}

.menu__item--bold {
  font-weight: bold;
}

.menu__item--expandable {
  position: relative;
  padding-right: 25px;

  &::before {
    content: "expand_more";
    position: absolute;
    top: 2px;
    right: 0;
    color: $dark-shade-50;
    font-size: 24px;
    font-family: "Material-Icons", serif;
    line-height: 20px;
  }
}
