.menu {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  list-style: none;
  font-size: 14px;
}

.menu__item {
  color: $dark-shade-50;
  font-weight: normal;

  &:hover {
    color: $dark-shade-75;
    font-weight: bold;
    cursor: pointer;
  }
}

.menu__item__text::first-letter {
  text-transform: uppercase;
}

.menu__item_type_expandable {
  position: relative;
  padding-right: 25px;

  &::before {
    content: "expand_more";
    position: absolute;
    top: 2px;
    right: 0;
    color: $dark-shade-50;
    font-size: 24px;
    font-family: "Material-Icons";
    line-height: 20px;
  }
}
