@import "../../consts";

$like-width: 40px;
$like-height: 20px;
$like-border-radius: 12px;
$like-border-width: 1px;

.like-button {
  position: relative;
  width: $like-width;
  height: $like-height;
}

.like-button__border {
  width: 100%;
  height: 100%;
  border-radius: $like-border-radius;

  .like-button__element:checked ~ & {
    background-image: $from-purple-to-blue-gradient;
  }
}

.like-button__element {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: $like-width - $like-border-width * 2;
  height: $like-height - $like-border-width * 2;
  margin: $like-border-width;
  border-radius: $like-border-radius;
  background-color: #fff;
  appearance: none;

  &::before {
    content: "favorite_border";
    padding: 5px;
    color: $dark-shade-25;
    font-size: 10px;
    font-family: "Material-Icons";
    line-height: 9px;
    transition: color 0.2s ease-in;
  }

  &:checked {
    &::before {
      content: "favorite";
      color: $purple-color;
      transition: color 0.2s ease-in;
    }
  }
}

.like-button__label {
  position: absolute;
  top: 4px;
  right: 12px;
  color: $dark-shade-25;
  font-size: 10px;
  font-family: "Montserrat";
  line-height: 12px;

  .like-button__element:checked + & {
    color: $purple-color;
    transition: color 0.2s ease-in;
  }
}
