@import '../../consts.scss';

.like-button {
  position: relative;
  border-radius: 12px;
  background-image: none;
  background-color: $dark-shade-25;

  height: 22px;
}

.like-button--checked {
  background-image: $from-purple-to-blue-gradient;
}

.like-button__element {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  width: 40px;
  height: 20px;

  margin: 1px;
  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #fff;

  &::before {
    content: 'favorite_border';
    font-family: 'Material-Icons';
    padding: 5px;

    font-size: 10px;
    line-height: 9px;

    color: $dark-shade-25;
    transition: color .2s ease-in;
  }
}

.like-button--checked > .like-button__element {
  &::before {
    content: 'favorite';
    color: $purple-color;
    transition: color .2s ease-in;
  }
}

.like-button__label {
  position: absolute;
  right: 12px;
  top: 4px;
  color: $dark-shade-25;

  font-size: 10px;
  line-height: 12px;
  font-family: 'Montserrat';
}

.like-button--checked > .like-button__label {
  color: $purple-color;
  transition: color .2s ease-in;
}
