@import "../../consts";

.search-room-body {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  padding: 30px 140px 70px;
  background-color: #fff;

  .pagination {
    margin: 40px auto 0;
  }
}

.search-room-body__main {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.search-room-body__aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
  max-width: 266px;
}

.search-room-body__home-rules {
  margin-bottom: 3px;
}

.search-room-body__accessibility {
  margin-bottom: 4px;
}

.search-room-body__facilities {
  margin-bottom: 3px;
}

.search-room-body__catalog {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 12px;
  justify-content: center;
  margin: 21px auto 0;
}

@media (width: $large-screen) {
  .search-room-body__main {
    text-align: start;
  }
}

@media (max-width: $middle-screen) {
  .search-room-body__aside {
    display: none;
  }
}

// @media (max-width: $big-screen) {
//   .search-room-body {
//     margin: auto;
//     padding-right: 0;
//     padding-left: 0;
//   }

//   .search-room-body__catalog {
//     grid-template-rows: repeat(6, min-content);
//     grid-template-columns: repeat(2, min-content);
//   }
// }

// @media (max-width: $middle-screen) {
//   .search-room-body__catalog {
//     grid-template-rows: repeat(12, min-content);
//     grid-template-columns: repeat(1, min-content);
//     align-self: center;
//   }
// }
