@import "../../consts";

.search-room-body {
  display: flex;
  justify-content: space-between;
  padding: 30px 140px 70px;
  background-color: #fff;

  .pagination {
    margin: 40px auto 0;
  }
}

.search-room-body__main {
  display: flex;
  flex-flow: column nowrap;
}

.search-room-body__aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
  max-width: 266px;
}

.search-room-body__catalog {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(3, min-content);
  gap: 21px 12px;
  margin-top: 21px;
}

@media (max-width: $large-screen) {
  .search-room-body__aside {
    display: none;
  }

  .search-room-body__main {
    margin: auto;
  }
}

@media (max-width: $middle-screen) {
  .search-room-body {
    margin: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .search-room-body__main {
    text-align: center;
  }

  .search-room-body__catalog {
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: repeat(2, min-content);
  }
}

@media (max-width: $small-screen) {
  .search-room-body__catalog {
    grid-template-rows: repeat(12, min-content);
    grid-template-columns: repeat(1, min-content);
    align-self: center;
  }
}
