@import "../../consts";

.search-room-body {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-top: 70px;
  padding: 30px 140px 70px;
  background-color: #fff;

  .pagination {
    margin: 40px auto 0;
  }
}

.search-room-body__main {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  @media (width: $large-screen) {
    text-align: start;
  }
}

.search-room-body__aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 25px;
  max-width: 266px;

  @media (max-width: $middle-screen) {
    display: none;
  }
}

.search-room-body__home-rules {
  margin-bottom: 3px;
}

.search-room-body__accessibility {
  margin-bottom: 4px;
}

.search-room-body__facilities {
  margin-bottom: 3px;
}

.search-room-body__catalog {
  display: flex;
  flex-flow: row wrap;
  gap: 20px 12px;
  justify-content: center;
  margin: 21px auto 0;
}
