include ../dropdown/dropdown.pug
include ../element-wrapper/element-wrapper.pug
include ../calendar/calendar.pug

mixin date-dropdown(left, right)
  .dropdown-container
    +element-wrapper('', '', true)
      .date-dropdown
        +dropdown(left.placeholder, false)
      .date-dropdown
        +dropdown(right.placeholder, false)
    .dropdown-container__body
      +calendar('Август', '2019')
