mixin date-dropdown(label_left, label_right)
  - var placeholder = 'ДД.ММ.ГГГГ'

  .date-dropdown.js-date-dropdown
    +element-wrapper({label: label_left})
      .date-dropdown__element
    +element-wrapper({label: label_right})
      .date-dropdown__element
        +dropdown({text: placeholder})
    .dropdown__body
      +calendar
