mixin date-dropdown(label_left, label_right)
  - var placeholder = 'ДД.ММ.ГГГГ'

  .date-dropdown.js-date-dropdown
    +dropdown({text: placeholder, buttonTheme: 'withGap', splitted: true, labels: {left: label_left, right: label_right}})
      +calendar
