include ../dropdown/dropdown.pug
include ../element-wrapper/element-wrapper.pug
include ../calendar/calendar.pug

mixin date-dropdown(left, right)
  .dropdown-container
    +element-wrapper('', '', true)
      +element-wrapper(left.label)
        .date-dropdown.dropdown-container
          +dropdown(left.placeholder, false)
      +element-wrapper(right.label)
        .date-dropdown
          +dropdown(right.placeholder, false)
    .dropdown-container__body
      +calendar('Август', '2019')
