.counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.counter__actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.counter__value {
  width: 10px;
  margin: 0 10px;
  color: $dark-shade-100;
  font-size: 12px;
  line-height: 15px;
}

.counter__text {
  color: $dark-shade-100;
  font-size: 12px;
  line-height: 15px;
}

.counter__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding-bottom: 2px;
  border: 1px solid $dark-shade-25;
  border-radius: 50%;
  background-color: #fff;
  color: $dark-shade-25;
  font-size: 18px;
  transition: all 0.2s ease-in;
}

.counter__btn:disabled {
  border-color: $dark-shade-5;
  color: $dark-shade-5;
}

.counter__btn:focus,
.counter__btn:hover {
  border-color: $dark-shade-50;
  color: $dark-shade-75;
  transition: all 0.2s ease-in;
}
