.counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.counter__right {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

.counter__count {
  font-size: 12px;
  line-height: 15px;

  width: 10px;

  margin: 0px 10px;
  color: $dark-shade-100;
}

.counter__text {
  color: $dark-shade-100;
  font-size: 12px;
  line-height: 15px;
}

.counter__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border: 1px solid $dark-shade-25;
  color: $dark-shade-25;

  width: 30px;
  height: 30px;

  font-size: 18px;

  border-radius: 50%;
  transition: all .2s ease-in;

  padding-bottom: 2px;
}

.counter__btn:disabled {
  border-color: $dark-shade-5;
  color: $dark-shade-5;
}

.counter__btn:focus,
.counter__btn:hover {
  color: $dark-shade-75;
  border-color: $dark-shade-50;
  transition: all .2s ease-in;
}
