.link-footer-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 44px;
  line-height: 42px;

  a:focus,
  a:hover {
    text-decoration: none;
  }
}

@media (max-width: $tiny-screen) {
  .link-footer-button {
    line-height: inherit;
  }
}
