.action-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding: 15px 20px;
  border: 0;
  border-radius: 22px;
  background-image: $from-purple-to-blue-gradient;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 15px;
  text-transform: uppercase;

  &::after {
    content: "arrow_forward";
    position: absolute;
    right: 10px;
    font-size: 24px;
    font-family: "Material-Icons", serif;
    line-height: 24px;
    text-transform: none;
  }
}
