$border-width: 2px;

.button_border__container {
  position: relative;
  z-index: 0;
  display: flex;
  min-height: 100%;
  padding: $border-width;
}

.button_border__element {
  min-width: 100%;
  padding-right: 20px - $border-width;
  padding-left: 20px - $border-width;
  border: 0;
  background-color: #fff;
  background-image: none;
  color: $purple-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    background: $from-purple-to-blue-gradient;
  }

  &[disabled] {
    opacity: 1;
  }

  &[disabled]::before {
    opacity: 0.5;
  }
}
