.button {
  background-image: $from-purple-to-blue-gradient;
  font-family: 'Montserrat';
  font-weight: bold;
  text-transform: uppercase;
  border: none;

  border-radius: 22px;

  padding-right: 20px;
  padding-left: 20px;

  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.button[disabled] {
  opacity: .5;
}
