.button {
  background-image: $from-purple-to-blue-gradient;
  border: none;
  border-radius: 22px;
  padding: 15px 20px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

.button[disabled] {
  opacity: .5;
}
