.expandable-checkbox-list__button {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 17px;
  padding: 0;
  border: 0;
  background-color: #fff;
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 15px;
  text-transform: uppercase;

  &::after {
    content: "expand_more";
    position: absolute;
    right: 10px;
    color: $dark-shade-50;
    font-size: 24px;
    font-family: "Material-Icons", serif;
    line-height: 24px;
    text-transform: lowercase;
    transition: all 0.4s ease-in;
  }
}

.expandable-checkbox-list:not(.expandable-checkbox-list--closed) {
  > .expandable-checkbox-list__button::after {
    transition: all 0.4s ease-in;
    transform: rotate(-180deg);
  }
}

.expandable-checkbox-list__items-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.expandable-checkbox-list--closed > .expandable-checkbox-list__items-container {
  display: none;
}
