include ../checkbox/checkbox.pug

mixin expandable-checkbox-list(title, checkboxes, closed)
  - var closed_class = closed ? "expandable-checkbox-list--closed" : "";

  .expandable-checkbox-list(class=closed_class)
    button.expandable-checkbox-list__button= title

    ul.expandable-checkbox-list__items-container
      each checkbox in checkboxes
        li
          +checkbox(checkbox.name, checkbox.value, checkbox.text, checkbox.checked)
