include ../checkbox-list/checkbox-list.pug

mixin expandable-checkbox-list(title, checkboxes, opened)
  .expandable-checkbox-list
    +dropdown({text: title, opened, textTheme: 'bold'})
      +checkbox-list(checkboxes)
