mixin range-slider()
  .range-slider
    input(type="range", min="0", max="100", step="1", value="25").range-slider__element.range-slider__element-left
    input(type="range", min="0", max="100", step="1", value="75").range-slider__element.range-slider__element-right

    .slider
      .slider__track
      .slider__range
      .slider__thumb.slider__thumb_left
      .slider__thumb.slider__thumb_right
