$slider-thumb-radius: 16px;
$slider-range-thickness: 6px;

.range-slider {
  position: relative;
  border: 1px solid $dark-shade-25;
  border-radius: 3px;
  margin: 20px 0px 15px;
}

.range-slider__container {
  max-width: 266px;
  color: $dark-shade-50;
  font-size: 12px;
}

.range-slider__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.range-slider__element {
  width: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  height: 6px;
  opacity: 0;
}

.range-slider__element::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  width: $slider-thumb-radius * 1.2;
  height: $slider-thumb-radius * 1.2;
  background-color: red;
  border: 2px solid #fff;
  border-radius: 50%;
}

.range-slider__element::-moz-range-thumb {
  pointer-events: all;
  -moz-appearance: none;
  width: $slider-thumb-radius * 1.2;
  height: $slider-thumb-radius * 1.2;
  background-color: red;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slider {
  position: relative;
  height: 6px;
  width: 100%;
}

.slider__track {
  position: absolute;
  width: 100%;
  height: $slider-range-thickness;
  background-color: #fff;
  border-radius: 5px;
}

.slider__range {
  position: absolute;
  height: $slider-range-thickness;
  background-image: $from-green-to-blue-gradient;
}

.slider__thumb {
  position: absolute;
  width: $slider-thumb-radius;
  height: $slider-thumb-radius;
  border-radius: 50%;
  border: 2px solid #fff;
  background-image: $from-green-to-blue-gradient;
  top: -$slider-thumb-radius / 2 + $slider-range-thickness / 2;
}
