$slider-thumb-radius: 16px;
$slider-range-thickness: 4px;

.range-slider__wrapper {
  position: relative;
  margin: 20px 0 10px;
  border: 1px solid $dark-shade-25;
  border-radius: 3px;
}

.range-slider {
  max-width: 266px;
  color: $dark-shade-50;
  font-size: 12px;
}

.range-slider__title {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.range-slider__element {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: $slider-range-thickness;
  opacity: 0;
  pointer-events: none;
}

.range-slider__element::-webkit-slider-thumb {
  width: $slider-thumb-radius * 1.2;
  height: $slider-thumb-radius * 1.2;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: all;
  appearance: none;
}

.range-slider__element::-moz-range-thumb {
  width: $slider-thumb-radius * 1.2;
  height: $slider-thumb-radius * 1.2;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: all;
  appearance: none;
}

.slider {
  position: relative;
  width: 100%;
  height: $slider-range-thickness;
}

.slider__track {
  position: absolute;
  width: 100%;
  height: $slider-range-thickness;
  border-radius: 5px;
  background-color: #fff;
}

.slider__range {
  position: absolute;
  height: $slider-range-thickness;
  background-image: $secondary-gradient;
}

.slider__thumb {
  position: absolute;
  top: -$slider-thumb-radius / 2 + $slider-range-thickness / 2;
  width: $slider-thumb-radius;
  height: $slider-thumb-radius;
  border: 2px solid #fff;
  border-radius: 50%;
  background-image: $secondary-gradient;
}
