extends ../common.pug

block head
  meta(
    name="description"
    content="toxin hotel booking website account registration for new user"
  )

block title
  | Registration

block body
  include ../../components/header/header.pug
  include ../../components/footer/footer.pug
  include ../../components/account-registration-card/account-registration-card.pug

  +header(false, true)
  main.account-registration-page
    +account-registration-card
  +footer
