.account-registration-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-image: url("./static/bg_login-registration.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
