.account-registration-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 680px;
  margin-top: 70px;
  background-image: url("./static/bg_login-registration.webp");
  background-position: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

@media (min-width: $large-screen) {
  .account-registration-page {
    background-size: cover;
  }
}
