@import "./search-room/search-room";
@import "./account-registration/account-registration";
@import "./login/login";
@import "./book-a-room/book-a-room";
@import "./link-footer-button";

.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  width: 380px;
  padding: 40px 30px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
