@font-face {
  font-family: 'Material-Icons';
  src: url('./fonts/Material-Icons.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./Quicksand.ttf') format('truetype');
}