@font-face {
  font-family: "Material-Icons";
  src: url("./fonts/Material-Icons.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Quicksand";
  src: url("./fonts/Quicksand/Quicksand-Regular.eot");
  src: local("☺"),
    url("./fonts/Quicksand/Quicksand-Regular.woff") format("woff"),
    url("./fonts/Quicksand/Quicksand-Regular.ttf") format("truetype"),
    url("./fonts/Quicksand/Quicksand-Regular.svg") format("svg");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Quicksand";
  src: url("./fonts/Quicksand/Quicksand-Bold.eot");
  src: local("☺"), url("./fonts/Quicksand/Quicksand-Bold.woff") format("woff"),
    url("./fonts/Quicksand/Quicksand-Bold.ttf") format("truetype"),
    url("./fonts/Quicksand/Quicksand-Bold.svg") format("svg");
}
