@font-face {
  font-family: "Material-Icons", serif;
  src: url("./fonts/Material-Icons.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand", "Open-Sans", sans-serif;
  src: url("./fonts/Quicksand.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("./fonts/Montserrat.ttf") format("truetype");
}
