mixin checkbox-list(params)
  ul.checkbox-list
    each item in params
      li.checkbox-list__item
        +checkbox({
          name: item.name,
          value: item.value,
          label: item.label,
          desc: item.desc,
          checked: item.checked,
        })
