mixin checkbox-list(params)
  ul.checkbox-list
    each item in params
      li.checkbox-list__item
        const { name, value, label, desc, checked } = item;
        +checkbox({name, value, label, desc, checked})
