include ../like-button/like-button.pug

mixin comment(avatar_path, username, date, like_attrs)
  .comment
    .comment__header
      image.comment__header-avatar(src=avatar_path)
      .comment__header-title
        .comment__header-username= username
        .comment__header-date= date
    .comment__body
      +like-button(like_attrs.name, like_attrs.liked, like_attrs.like_count)
      .comment__body-text
        pre
          block
