include ../like-button/like-button.pug

mixin comment({avatar_path, username, date, like_attrs})
  .comment
    .comment__author
      img.comment__avatar(src=avatar_path alt="user avatar")
      +like-button({
        name: like_attrs.name,
        liked: like_attrs.liked,
        count: like_attrs.like_count
      })
    .comment__text
      .comment__title
        .comment__username= username
        .comment__date= date
      block
