.comment {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.comment__author {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  align-items: center;
}

.comment__avatar {
  border-radius: 50%;
}

.comment__text {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  max-width: 720px;
}

.comment__title {
  line-height: 24px;
}

.comment__username {
  font-weight: bold;
}
