.comment__header {
  display: flex;
}

.comment__header-username {
  font-family: 'Montserrat-Bold';
  font-size: 14px;
  line-height: 24px;
}

.comment__header-title {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 10px;
}

.comment__header-avatar {
  height: 48px;
  width: 48px;
  background-position: center;
  background-size: contain;
  background-color: #ffffff;
  background-image: url("./images/image.png");
  border-radius: 50%;
}

.comment__body {
  display: flex;
  margin-top: 5px;

  & > .like-button {
    margin-top: 5px;
  }
}

.comment__body-text {
  margin-left: 15px;
}