.radio-buttons-group {
  display: flex;
}

.radio-button {
  display: flex;
  margin-right: 20px;
}

.radio-button__element {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  background-color: #fff;
  transition: border-color 0.2s ease;
  appearance: none;
  appearance: none;
  appearance: none;
}

.radio-button__element::before {
  content: "";
  width: 0;
  height: 0;
}

.radio-button__element:checked::before {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, $purple-color 0%, $blue-color 100%);
  transition: width 0.2s ease-in, height 0.2s ease-in;
}

.radio-button__element:checked {
  border: 1px solid $purple-color;
  transition: border-color 0.2s ease;
}

.radio-button__label {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
}
