.radio-buttons-group {
  display: flex;
  margin-top: 8px;
}

.radio-button {
  display: flex;
  margin-right: 20px;
}

.radio-button__element {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-self: center;
  border-radius: 10px;
  transition: border-color .2s ease;
  border: 1px solid $dark-shade-25;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.radio-button__element::before {
  content: '';
  width: 0px;
  height: 0px;
}

.radio-button__element:checked::before {
  transition: width .2s ease-in, height .2s ease-in;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(180deg, $purple-color 0%, $blue-color 100%);
  border-radius: 10px;
}

.radio-button__element:checked {
  transition: border-color .2s ease;
  border: 1px solid $purple-color;
}

.radio-button__label {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Montserrat';
}
