mixin subscription-text-field
  form.subscription-text-field(
    method='POST',
    action='#'
  )
    input.subscription-text-field__input(
      placeholder='Email',
      type='email'
    )
    button.subscription-text-field__push-button(type='submit')
      | arrow_forward
