mixin subscription-text-field()
  form(aciton="POST", href="#").subscription-text-field
    input(type="email" placeholder="Email").subscription-text-field__input
    button(type="submit").subscription-text-field__push-button
      | arrow_forward
