.calendar {
  display: flex;
  flex-flow: column nowrap;
  max-width: 320px;
  padding: 20px;
  border: 1px solid $dark-shade-25;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  background-color: #fff;
}

.calendar__table {
  margin: 30px 0px 20px;
}

.calendar__year-month-picker {
  display: flex;
  justify-content: space-between;

  & > button {
    font-family: 'Material-Icons';
    font-size: 24px;
    line-height: 20px;
    color: $purple-color;
    background-color: transparent;
    border: none;
  }
}

.calendar__table-row {
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  color: $dark-shade-50;

  & th,td {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  & td:hover, td:focus {
    background-image: $from-green-to-blue-gradient;
    border-radius: 50%;
    color: #fff;
  }

  & button {
    background-color: transparent;
    border: none;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: inherit;
  }
}

.calendar__table-row_heading {
  font-weight: bold;
  color: $purple-color;
}
