.calendar-container {
  margin-top: 5px;
  padding: 20px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: #fff;
}

.calendar__element {
  width: 100%;
  border: 0;

  .datepicker--nav-title {
    justify-content: center;
  }
}
