.calendar-container {
  margin-top: 5px;
  padding: 20px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: #fff;
}

.calendar__element {
  width: 100%;
  border: 0;
  font-family: "Montserrat";

  .datepicker--nav {
    border-bottom: 0;
  }

  .datepicker--nav-title {
    color: $dark-shade-100;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
  }
}
