.search-room {
  & > .search-room__date-picker {
    margin: 20px 0px;
  }
  & > .button-pay {
    margin-top: 30px;
  }
}

.search-room__date-picker {
  display: flex;
  justify-content: space-between;
}
