include ../../date-dropdown/date-dropdown.pug
include ../../dropdown-counter/dropdown-counter.pug
include ../../buttons/action-button.pug

mixin search-room-card()
  .card.search-room
    h1.search-room__title
      | Найдем номер под
      br
      | ваши пожелания

    .search-room__date-picker
      +date-dropdown('ДД.ММ.ГГГГ')
      +date-dropdown('ДД.ММ.ГГГГ')

    +dropdown-counter('guest-counter', 'Сколько гостей', ['взрослые', 'дети', 'младенцы'], true, true)
    +action-button('Подобрать номер')
