.subscription-form {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  max-width: 266px;
}

.subscription-form__input {
  @include input-element();

  min-width: 100%;
  padding: 12px 44px 8px 15px;
  line-height: 24px;
}

.subscription-form__push-button {
  margin-left: -42px;
  border: 0;
  background-color: transparent;
  color: $purple-color;
  font-size: 24px;
  font-family: "Material-Icons";
  line-height: 24px;
}
