mixin subscription-form
  form.subscription-form(
    method="POST",
    action="#"
  )
    input.subscription-form__input(
      placeholder="Email",
      type="email"
    )
    button.subscription-form__push-button(type="submit")
      | arrow_forward
