extends ../globals/common.pug

block title
  | Form Elements

block body
  .toolbox__container

    mixin item(label, state, attrs)
      .toolbox__form-elements__item
        .toolbox__form-elements__item__label= label
          span&attributes(attrs)= state ? state : ''
        block

    include ../components/text-field/text-field.pug
    include ../components/dropdown/dropdown.pug
    include ../components/checkbox/checkbox.pug
    include ../components/radio-button/radio-button.pug
    include ../components/toggle/toggle.pug
    include ../components/like-button/like-button.pug
    include ../components/rate-button/rate-button.pug
    include ../components/range-slider/range-slider.pug
    include ../components/buttons/button.pug
    include ../components/buttons/button_border.pug
    include ../components/buttons/button_flat.pug
    include ../components/buttons/button_pay.pug
    include ../components/pagination/pagination.pug
    include ../components/date-dropdown/date-dropdown.pug
    include ../components/filter-date-dropdown/filter-date-dropdown.pug
    include ../components/subscription-text-field/subscription-text-field.pug
    include ../components/counter/counter.pug
    include ../components/dropdown-counter/dropdown-counter.pug
    include ../components/expandable-checkbox-list/expandable-checkbox-list.pug
    include ../components/rich-checkbox/rich-checkbox.pug
    include ../components/bullet-list/bullet-list.pug
    include ../components/top-feature/top-feature.pug
    include ../components/comment/comment.pug

    .toolbox__form-elements

      .toolbox__form-elemnts__items-group.column_1.row_1
        +item('text field', 'default')
          +text-field({type: 'email', placeholder: 'Email'})

        +item('text field', 'hover / focus')
          +focused-text-field({type: 'text', placeholder: 'some text', value: 'This is pretty awesome'})

        +item('dropdown')
          +dropdown('Сколько гостей', ['взрослые', 'дети', 'младенцы'])

        +item('masked text field')
          +masked-text-field(
            '(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])(19|20)\\d\\d',
            "01012000",
            '__.__.____',
            {placeholder: 'ДД.ММ.ГГГГ'}
          )

        .inline-items
          +item('date dropdown')
            +date-dropdown('ДД.ММ.ГГГГ')
          +item('date dropdown')
            +date-dropdown('19.08.2019')
        +item('filter date dropdown')
          +filter-date-dropdown('19 авг - 23 авг')

        +item('subscription text field')
          +subscription-text-field()

      .toolbox__form-elemnts__items-group.column_2.row_1
        +item('checkbox buttons')
          +checkbox('allow-smoking', 'allow-smoking', false)
            | Можно курить
          +checkbox('allow-pets', 'allow-pets', true)
            | Можно с питомцами
          +checkbox('allow-guests', 'allow-guests', true)
            | Можно пригласить гостей (до 10 человек)

        +item('radio buttons')
          +radio-buttons-group('gender', ['Мужчина', 'Женщина'])

        +item('toggle')
          +toggle('special-offers-toggle_1', 'recieve-special-offers')
            | Получать спецпредложения
          +toggle('special-offers-toggle_2', 'recieve-special-offers')
            | Получать спецпредложения

        +item('like button')
          .inline-componets
            +like-button('like-1')
            +like-button('like-2')

        +item('rate button')
          .inline-componets
            +rate-button(4)
            +rate-button(5)

      .toolbox__form-elemnts__items-group.column_3.row_1
        +item('range slider', '', {id: 'display-for-cost-range-slider-id'})
          +range-slider('cost-range-slider', {
            min: 0,
            max: 15000,
            step: 100,
            left: 5000,
            right: 10000,
          })

        +item('buttons')
          .inline-componets
            +button('click me')
            +button('click me', true)
          .inline-componets
            +button_border('click me')
            +button_border('click me', true)
          .inline-componets
            +button_flat('click me')
            +button_flat('click me', true)
          +button_pay('Перейти к оплате')

        +item('pagination')
          +pagination('1 - 12 из 100+ вариантов аренды')

      .toolbox__form-elemnts__items-group.column_1.row_2
        +item('dropdown', 'default')
          +dropdown-counter('параметры номера', ['спальни', 'кровати', 'ванные комнаты'], true)
        +item('dropdown', 'expanded')
          +dropdown-counter('параметры номера', ['спальни', 'кровати', 'ванные комнаты'], false)

      .toolbox__form-elemnts__items-group.column_2.row_2
        +item('dropdown')

      .toolbox__form-elemnts__items-group.column_3.row_2
        +item('dropdown')

      .toolbox__form-elemnts__items-group.column_1.row_3
        +item()
          +expandable-checkbox-list('expandable checkbox list', [
            {
              text: 'Завтрак',
              name: 'breakfast',
              value: 'has-breakfast',
              checked: false,
            },
            {
              text: 'Письменный стол',
              name: 'desk',
              value: 'has-desk',
              checked: true,
            },
            {
              text: 'стул для кормления',
              name: 'feeding-chair',
              value: 'has-feeding-chair',
              checked: true,
            },
            {
              text: 'кроватка',
              name: 'crib',
              value: 'has-crib',
              checked: true,
            },
            {
              text: 'телевизор',
              name: 'tv',
              value: 'has-tv',
              checked: false,
            },
            {
              text: 'шампунь',
              name: 'shampoo',
              value: 'has-shampoo',
              checked: false,
            },
          ], true)
        +item()
          +expandable-checkbox-list('expandable checkbox list', [
            {
              text: 'Завтрак',
              name: 'breakfast',
              value: 'has-breakfast',
              checked: false,
            },
            {
              text: 'Письменный стол',
              name: 'desk',
              value: 'has-desk',
              checked: true,
            },
            {
              text: 'стул для кормления',
              name: 'feeding-chair',
              value: 'has-feeding-chair',
              checked: true,
            },
            {
              text: 'кроватка',
              name: 'crib',
              value: 'has-crib',
              checked: true,
            },
            {
              text: 'телевизор',
              name: 'tv',
              value: 'has-tv',
              checked: false,
            },
            {
              text: 'шампунь',
              name: 'shampoo',
              value: 'has-shampoo',
              checked: false,
            },
          ], false)

      .toolbox__form-elemnts__items-group.column_2.row_3
        +item('rich checkbox buttons')
          +rich-checkbox('Широкий коридор', 'wide-corridor')
            | Ширина коридоров в номере
            br
            | не менее 91 см.

          +rich-checkbox('Помощник для инвалидов', 'assistant for disabled')
            | На 1 этаже вас стретит специалист и проводит до номера

      .toolbox__form-elemnts__items-group.column_3.row_3
        +item('bullet list')
          +bullet-list([
            'Нельзя с питомцами',
            'Без вечеринок и мероприятий',
            'Время прибытия — после 13:00, а выезд до 12:00'
          ])

      .toolbox__form-elemnts__items-group.column_1.row_4
        +item('')
          +top-feature('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
          +top-feature('location_city', 'Удобство', 'Окно в каждой из спален')

      .toolbox__form-elemnts__items-group.from_column_2_to_column_3.row_4
        +comment('Мурад Сарафанов', '5 дней назад')
          | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясаяющий.
          br
          | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто
          br
          | не жаловался из соседей.