extends ../globals/common.pug

block title
  | Landing Page

block body
  include ../components/header/header.pug
  include ../components/footer/footer.pug
  include ../components/cards/search-room/search-room.pug

  +header()
  main.landing
    +search-room-card()
  +footer-desktop()
