extends ../globals/common.pug
include ../globals/link-list.pug

block title
  | UI-KIT

block body
  +link-list([
    {href: "./colors&type.html", text: "Colors & Type"},
    {href: "./form-elements.html", text: "Form Elements"},
    {href: "./cards.html", text: "Cards"},
    {href: "./headers&footers.html", text: "Headers & Footers"},
  ])
