<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI-KIT
  body
    .tool-box__container

      //- Colors & Type

      .tool-box__column
        .tool-box__row
          .color-example.bgc_dark-shade-100
        .tool-box__row
          .color-example.bgc_dark-shade-75
        .tool-box__row
          .color-example.bgc_dark-shade-50
        .tool-box__row
          .color-example.bgc_dark-shade-25
        .tool-box__row
          .color-example.bgc_dark-shade-5
        .tool-box__row
          .color-example.bgc_purple-color
        .tool-box__row
          .color-example.bgc_green-color
      .tool-box__column
        .tool-box__row
          .tool-box__label.text_dark-shade-100.text_bold
            | Dark Shade 100%
          .tool-box__label.text_dark-shade-100.text.text_uppercase
            | #1f2041
        .tool-box__row
          .tool-box__label.text_dark-shade-100.text_bold
            | Dark Shade 75%
          .tool-box__label.text_dark-shade-100.text.text_uppercase
            | #1f2041
        .tool-box__row
          .tool-box__label.text_dark-shade-100.text_bold
            | Dark Shade 50%
          .tool-box__label.text_dark-shade-100.text.text_uppercase
            | #1f2041
        .tool-box__row
          .tool-box__label.text_dark-shade-100.text_bold
            | Dark Shade 25%
          .tool-box__label.text_dark-shade-100.text.text_uppercase
            | #1f2041
        .tool-box__row
          .tool-box__label.text_dark-shade-100.text_bold
            | Dark Shade 5%
          .tool-box__label.text_dark-shade-100.text.text_uppercase
            | #1f2041
        .tool-box__row
          .tool-box__label.text_dark-shade-100.text_bold
            | Purple
          .tool-box__label.text_dark-shade-100.text.text_uppercase
            | #bc9cff
        .tool-box__row
          .tool-box__label.text_dark-shade-100.text_bold
            | Green
          .tool-box__label.text_dark-shade-100.text.text_uppercase
            | #6fcf97
