.toolbox__container {
  margin: 145px auto;
  max-width: 1440px;
  background-color: #ffffff;
}

.toolbox__colors-type {
  display: grid;
  margin: 0px 135px;
  grid-template: repeat(7, 1fr) / 100px 200px 400px auto;
  row-gap: 20px;
}


.toolbox__label {
  font-size: 19px;
  line-height: 29px;
  align-self: center;
  color: $dark-shade-100;
}

.color-example {
  justify-self: center;
  align-self: center;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  grid-column: 1;
}

.color-desc {
  display: flex;
  grid-column: 2;
  padding-left: 25px;
}

.text-type {
  grid-column: 4;
}

.text-type__preview {
  position: relative;
  padding-left: 78px;
  padding-right: 50px;
}

.text-type__preview p {
  padding-right: 40px;
}

.text-type__label {
  font-size: inherit;
  position: absolute;
  right: 422px;
  color: $dark-shade-25;
}

.toolbox__form-elements {
  display: grid;
  margin: 0px 140px;
  padding-top: 130px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 50px 100px;
}

.toolbox__form-elemnts__items-group {
  display: flex;
  flex-flow: column nowrap;
}

.toolbox__form-elements__item {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 0px 7px;
}

.toolbox__form-elements__item__label {
  text-transform: uppercase;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  line-height: 25px;
  color: $dark-shade-100;
}

.toolbox__form-elements__item__label span {
  font-family: 'Montserrat';
  color: $dark-shade-50;
  float: right;
}
