<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI-KIT
  body
    //- Colors & Type
    .toolbox__container
      .toolbox__colors-type

        .color-example.bgc_dark-shade-100
        .color-desc
          .toolbox__label.quicksand_bold
            | Dark Shade 100%
            .toolbox__label.quicksand.text_uppercase
              | #1f2041
        .text-type
          .text-type__preview
            h1
              span.text-type__label.montserrat.text_uppercase
                | h1
              | This one is the sub-section or widget title

        .color-example.bgc_dark-shade-75
        .color-desc
          .toolbox__label.quicksand_bold
            | Dark Shade 75%
            .toolbox__label.quicksand.text_uppercase
              | #1f2041
        .text-type
          .text-type__preview
            h2
              span.text-type__label.montserrat.text_uppercase
                | h2
              | Next one is the item title inside widgets

        .color-example.bgc_dark-shade-50
        .color-desc
          .toolbox__label.quicksand_bold
            | Dark Shade 50%
            .toolbox__label.quicksand.text_uppercase
              | #1f2041
        .text-type
          .text-type__preview
            h3
              span.text-type__label.montserrat.text_uppercase
                | h3
              | This is a label or CTA text

        .color-example.bgc_dark-shade-25
        .color-desc
          .toolbox__label.quicksand_bold
            | Dark Shade 25%
            .toolbox__label.quicksand.text_uppercase
              | #1f2041
        .text-type
          .text-type__preview
            span.text-type__label.montserrat
              | Body
            p
              | This is the body text which is used for most of the design,
              | like paragraphs, lists, etc.

        .color-example.bgc_dark-shade-5
        .color-desc
          .toolbox__label.quicksand_bold
            | Dark Shade 5%
            .toolbox__label.quicksand.text_uppercase
              | #1f2041

        .color-example.bgc_purple-color
        .color-desc
          .toolbox__label.quicksand_bold
            | Purple
            .toolbox__label.quicksand.text_uppercase
              | #bc9cff

        .color-example.bgc_green-color
        .color-desc
          .toolbox__label.quicksand_bold
            | Green
            .toolbox__label.quicksand.text_uppercase
              | #6fcf97

    //- Form Elements
    .toolbox__container
      .toolbox__form-elements

        //- 1st column
        .toolbox__form-elemnts__items-group

          .toolbox__form-elements__item
            .toolbox__form-elements__item__label
              | text field
              span
                | default
            input(type="email", placeholder="Email").text-field

          .toolbox__form-elements__item
            .toolbox__form-elements__item__label
              | text field
              span
                | hover / focus
            input(type="email", placeholder="Email" value="This is pretty awesome").text-field.text-field_focused

          .toolbox__form-elements__item
            .toolbox__form-elements__item__label
              | dropdown
              span
                | default
            select
              option(value="" disabled selected)
                | Сколько гостей
