extends ../globals/common.pug

block title
  | UI-KIT

block body
  ul.ui-kit__link-button-list
    li
      a(href="./colors&type.html")
        button.ui-kit__link-button
          | Colors&Type
    li
      a(href="./form-elements.html")
        button.ui-kit__link-button
          | Form Elements
    li
      a(href="./cards.html")
        button.ui-kit__link-button
          | Cards