@import "../../consts";

$header-height: 70px;

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  transition: all 0.5s ease;
}

.header__right {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: space-between;
  padding: 18px 0;

  menu {
    display: flex;
    align-items: center;
  }
}

.header__buttons {
  z-index: 3;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: flex-end;
  min-width: 310px;
}

.header__buttons__link {
  text-decoration: none;
}

.header_attached {
  position: sticky;
  top: 0;
  z-index: 2;
  transition: all 0.5s ease;
}

.header_hidden {
  top: -$header-height;
  transition: all 0.5s ease;
}

@media (max-width: $large-screen) {
  .header .menu {
    display: none;
  }
}

@media (max-width: $small-screen) {
  .header__buttons {
    gap: 10px;
    min-width: 0;

    > .button:last-child {
      display: none;
    }
  }
}
