include ../logo/logo.pug
include ../menu/menu.pug
include ../user/user.pug
include ../link-button/link-button.pug

mixin header(isSigned=false, attached=true)
  - var header_id = attached ? "header-id" : "";
  header.header.container(id=header_id, class=attached ? 'header_attached' : '')
    +logo
    .header__right
      +menu([
        {text: 'о нас'},
        {text: 'услуги', children: []},
        {text: 'вакансии'}, {text: 'новости'},
        {text: 'соглашения', children: []},
      ])
      if isSigned
        +user('Юлий Цезарь')
      else
        .header__buttons
          +link-button({button_props: {theme: 'bordered'}, href: '../login', text: 'войти'})
          +link-button({href: '../registration', text: 'зарегистрироваться'})
