include ../buttons/button.pug
include ../buttons/border-button.pug
include ../logo/logo.pug
include ../menu/menu.pug
include ../user/user.pug

mixin header(isSigned=false, attached=false)
  - var header_id = attached ? 'header-id' : ''
  header(id=header_id).header.container
    +logo()
    .header__right
      +menu([
        {text: 'о нас', primary: true},
        {text: 'услуги', children: []},
        {text: 'вакансии'},
        {text: 'новости'},
        {text: 'соглашения', children: []},
      ])
      if isSigned
        +user('Юлий Цезарь')
      else
        .header__buttons
          +border-button('войти')
          +button('зарегистрироваться')
