include ../button/button.pug
include ../logo/logo.pug
include ../menu/menu.pug
include ../user/user.pug

mixin header(isSigned=false, attached=false)
  - var header_id = attached ? "header-id" : "";
  header.header.container(id=header_id)
    +logo
    .header__right
      +menu([
        {text: 'о нас'},
        {text: 'услуги', children: []},
        {text: 'вакансии'}, {text: 'новости'},
        {text: 'соглашения', children: []},
      ])
      if isSigned
        +user('Юлий Цезарь')
      else
        .header__buttons
          a(href='../login')
            +button({text: 'войти', theme: 'bordered'})
          a(href='../registration')
            +button('зарегистрироваться')
