include ../dropdown/dropdown.pug
include ../calendar/calendar.pug

mixin filter-date-dropdown(default_value)
  .filter-date-dropdown.dropdown-container
    +dropdown(default_value)
    .dropdown-container__body
      +calendar('Август', '2019')
