include ../dropdown/dropdown.pug
include ../calendar/calendar.pug

mixin filter-date-dropdown
  .filter-date-dropdown.dropdown-container
    +dropdown
      span.filter-date-dropdown__text
    .dropdown-container__body
      +calendar
