.account-registration {
  .element-wrapper__item {
    gap: 10px;
  }
}

.account-registration__buttons {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;

  .button-border__container {
    min-width: 99px;
  }
}
