include ../../text-field/text-field.pug
include ../../radio-button/radio-button.pug
include ../../toggle/toggle.pug
include ../../buttons/action-button.pug
include ../../buttons/border-button.pug
include ../link-footer-button.pug

mixin account-registration-card()
  .card.account-registration
    h1
      | Регистрация аккаунта
    .account-registration__item
      +text-field({type: 'text', placeholder: 'Имя'})
      +text-field({type: 'text', placeholder: 'Фамилия'})
      +radio-buttons-group('user-gender', [{value: 'Мужчина', checked: true}, {value: 'Женщина', checked: false}])
    .account-registration__item
      h3
        label(for="birthday-field")= 'Дата рождения'
      +masked-text-field('account-registration-masked-text-field-id')
    .account-registration__item
      +text-field({label: 'данные для входа в сервис', type: 'email', placeholder: 'Email'})
      +text-field({type: 'password', placeholder: 'Пароль'})
      +toggle('special-offers-toggle', 'recieve-special-offers')
        | Получать спецпредложения
    +action-button('Перейти к оплате')
    +link-footer-button('Уже есть аккаунт на Toxin', '../login/', 'войти')
