.bullet-list {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  max-width: 260px;
  padding-left: 20px;
  list-style-type: none;

  > .bullet-list__item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    margin-top: 6px;
    border-radius: 50%;
    background-color: $dark-shade-25;
  }
}
