include ../../text-field/text-field.pug
include ../../buttons/action-button.pug
include ../../buttons/border-button.pug

mixin login-card()
  form.card.login-form
    h1
      | Войти
    +text-field({type: 'email', placeholder: 'Email'})
    +text-field({type: 'password', placeholder: 'Пароль'})
    +action-button('войти')
    span
      | Нет аккаунта на Toxin?
      +border-button('создать')

