include ../../text-field/text-field.pug
include ../../buttons/action-button.pug
include ../link-footer-button.pug

mixin login-card
  .card.login-form
    h1
      | Войти
    .login-form__user-data
      +text-field({type: 'email', placeholder: 'Email'})
      +text-field({type: 'password', placeholder: 'Пароль'})
    .login-form__buttons
      +action-button('войти')
      +link-footer-button('Нет аккаунта на Toxin?', '../registration/', 'создать')
