include ../subscription-text-field/subscription-text-field.pug
include ../social-buttons/social-buttons.pug


mixin copyright()
  small
    | Copyright &#169; Toxin отель. Все права защищены.

mixin footer-desktop()
  footer.footer
    hr
    .footer-desktop.container
      .footer-desktop__column
        +logo()
        .ad-text
          pre
            | Бронирование номеров в лучшем
            | отеле 2019 года по версии
            | ассоциации "Отельные взгляды"
      .footer-desktop__column
        h3
          | Навигация
        a(href="#")
          | О нас
        a(href="#")
          | Новости
        a(href="#")
          | Служба поддержки
        a(href="#")
          | Услуги
      .footer-desktop__column
        h3
          | О Нас
        a(href="#")
          | О сервисе
        a(href="#")
          | Наша команда
        a(href="#")
          | Вакансии
        a(href="#")
          | Инвесторы
      .footer-desktop__column
        h3
          | Служба поддержки
        a(href="#")
          | Соглашения
        a(href="#")
          | Сообщества
        a(href="#")
          | Связь с нами
      .footer-desktop__column
        h3
          | Подписка
        pre
          | Получайте специальные
          | предложения и новости сервиса
        +subscription-text-field()
    hr
    .footer-desktop__bottom.container
      +copyright()
      +social-buttons()

mixin footer-mobile()
  .footer.footer-mobile.container
    +logo()
    +copyright()
    +social-buttons()

mixin footer()
  footer.footer
    hr
    .footer__body.container
      .footer__body__column
        +logo()
        .ad-text
          pre
            | Бронирование номеров в лучшем
            | отеле 2019 года по версии
            | ассоциации "Отельные взгляды"
      .footer__body__column
        h3
          | Навигация
        a(href="#")
          | О нас
        a(href="#")
          | Новости
        a(href="#")
          | Служба поддержки
        a(href="#")
          | Услуги
      .footer__body__column
        h3
          | О Нас
        a(href="#")
          | О сервисе
        a(href="#")
          | Наша команда
        a(href="#")
          | Вакансии
        a(href="#")
          | Инвесторы
      .footer__body__column
        h3
          | Служба поддержки
        a(href="#")
          | Соглашения
        a(href="#")
          | Сообщества
        a(href="#")
          | Связь с нами
      .footer__body__column
        h3
          | Подписка
        pre
          | Получайте специальные
          | предложения и новости сервиса
        +subscription-text-field()
    hr
    .footer__bottom.container
      +copyright()
      +social-buttons()
