@import "../../fonts/brands";

.social-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > a {
    background-image: $from-purple-to-blue-gradient;
    background-clip: text;
    background-clip: text;
    font-size: 24px;
    line-height: 23px;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

.social-buttons__twitter {
  @extend .fab;

  &::before {
    content: fa-content($fa-var-twitter);
  }
}

.social-buttons__facebook {
  @extend .fab;

  &::before {
    content: fa-content($fa-var-facebook);
  }
}

.social-buttons__instagram {
  @extend .fab;

  &::before {
    content: fa-content($fa-var-instagram);
  }
}
