include ../rate-button/rate-button.pug
include ../room-props/room-props.pug

mixin room-item({bgi, number, luxury, cost, stars, review, alt})
  .room-item
    img.root-item__preview(src=bgi, alt=alt, aria-label=alt)
    .room-item__image-slider
      .room-item__image-slider_filled
      .room-item__image-slider_empty
      .room-item__image-slider_empty
      .room-item__image-slider_empty
    .room-item__desc
      .room-item__desc__main
        +room-props({number, cost, luxury})
      .room-item__desc__feedback
        +rate-button('room-' + number + '-rating', stars)
        .room-item__reviews
          .room-item__review-count
            | #{review}
          | Отзывов
