.room-item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 270px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  img {
    border-radius: 4px 4px 0 0;
  }
}

.room-item__desc {
  padding: 20px;
  color: $dark-shade-50;

  > hr {
    margin: 10px 0 12px;
    border: 0;
    border-top: 1px solid $dark-shade-10;
  }
}

.room-item__name {
  display: flex;
  gap: 5px;
  align-items: baseline;
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;

  .room-item__number {
    font-size: 18px;
  }

  .room-item__luxury {
    color: $purple-color;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }
}

.room-item__desc-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;

  strong {
    margin-right: 5px;
    font-weight: bold;
  }
}

.image-slider {
  position: absolute;
  top: 130px;
  right: 15px;
  display: flex;

  > * {
    width: 8px;
    height: 8px;
    margin: 0 1.5px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
}

.image-slider__filled {
  background-color: #fff;
}

.image-slider__empty {
  background-color: transparent;
}
