.room-item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 270px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.root-item__preview {
  border-radius: 4px 4px 0 0;
}

.room-item__image-slider {
  position: absolute;
  top: 130px;
  right: 15px;
  display: flex;

  > * {
    width: 8px;
    height: 8px;
    margin: 0 1.5px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
}

.room-item__image-slider_filled {
  background-color: #fff;
}

.room-item__image-slider_empty {
  background-color: transparent;
}

.room-item__desc {
  padding: 20px;
}

.room-item__desc__main {
  margin-bottom: 10px;
}

.room-item__desc__feedback {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 8px;
}

.room-item__reviews {
  display: inline-flex;
  gap: 3px;
  color: $dark-shade-50;
}

.room-item__review-count {
  font-weight: bold;
}
