mixin form-action-buttons
  .form-action-buttons
    block
    .form-action-buttons__body
      button.form-action-buttons__action-button.form-action-buttons__cancel-button.js-action-button-cancel
        | отмена
      button.form-action-buttons__action-button.form-action-buttons__apply-button.js-action-button-apply
        | применить
