.top-feature {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 20px;
  border-bottom: 1px solid $dark-shade-5;
}

.top-feature__icon {
  align-self: center;
  background-image: $primary-gradient;
  background-clip: text;
  background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-family: "Material-Icons";
  line-height: 41px;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.top-feature__title {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.top-feature__body {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 10px;
  font-size: 14px;
  line-height: 24px;
}
