.toggle {
  display: flex;
}

.toggle__element {
  position: relative;
  align-items: center;
  align-self: center;
  box-sizing: border-box;
  width: 40px;
  height: 20px;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  background-color: #fff;
  transition: border-color 0.2s ease-in;
  appearance: none;
  appearance: none;
  appearance: none;
}

.toggle__element::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: $dark-shade-25;
  transition: all 0.2s ease-in;
}

.toggle__element:checked::before {
  background-image: linear-gradient(180deg, $purple-color 0%, $blue-color 100%);
  transition: all 0.2s ease-in;
  transform: translateX(20px);
}

.toggle__element:checked {
  border: 1px solid $purple-color;
  transition: border-color 0.2s ease-in;
}

.toggle__label {
  margin-left: 10px;
}
