.element-wrapper__label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3,
  h2 {
    margin-bottom: 5px;
  }
}

.element-wrapper__sub-label {
  color: $dark-shade-50;
  font-size: 12px;
  line-height: 15px;
}

.element-wrapper__sub-label_large {
  font-size: 14px;
}

.element-wrapper__item {
  display: flex;
  flex-flow: column nowrap;
}

.element-wrapper__item_inline {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.element-wrapper__label_extra-spacing {
  margin-bottom: 15px;
}
