.element-wrapper__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h3, h2 {
    margin-bottom: 5px;
  }
}

.element-wrapper__sub-label {
  font-size: 12px;
  line-height: 15px;
  color: $dark-shade-50;
}

.element-wrapper__sub-label--large {
  font-size: 14px;
}

.element-wrapper__item--inline {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}

.element-wrapper__label--extra-spacing {
  margin-bottom: 15px;
}
