$green-color: #6fcf97;
$purple-color: #bc9cff;
$blue-color: #8ba4f9;
$dark-shade: #1f2041;
$dark-shade-100: change-color($dark-shade, $alpha: 1);
$dark-shade-75: change-color($dark-shade, $alpha: 0.75);
$dark-shade-50: change-color($dark-shade, $alpha: 0.5);
$dark-shade-25: change-color($dark-shade, $alpha: 0.25);
$dark-shade-10: change-color($dark-shade, $alpha: 0.1);
$dark-shade-5: change-color($dark-shade, $alpha: 0.05);
$primary-gradient: linear-gradient(180deg, $purple-color 0%, $blue-color 100%);
$secondary-gradient: linear-gradient(180deg, $green-color 0%, #66d2ea 100%);
$large-screen: 1440px;
$big-screen: 1280px;
$middle-screen: 1120px;
$small-screen: 800px;
$tiny-screen: 480px;
$common-element-height: 44px;

@mixin input-element {
  width: 100%;
  max-height: $common-element-height;
  padding: 12px 15px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: #fff;
  color: $dark-shade-25;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  transition: all 0.2s ease-in;

  &:hover,
  &:focus {
    border: 1px solid $dark-shade-50;
    color: $dark-shade-75;
    transition: all 0.2s ease-in;
  }
}
