extends ./globals/common.pug
include ./globals/link-list.pug

block title
  | Booking hotel website

block body
  +link-list([
    {href: './ui-kit.html', text: 'UI-KIT'},
    {href: './login.html', text: 'Login'},
    {href: './registration.html', text: 'Registration'},
    {href: './landing.html', text: 'Landing'},
    {href: './search-room.html', text: 'Search Room'},
    {href: "./room-details.html", text: "Room Details"},
  ])
