extends ./pages/common.pug

block title
  | Booking hotel website

block body
  include ./components/link-list/link-list.pug

  +link-list([
    {href: './ui-kit/', text: 'UI-KIT'},
    {href: './login/', text: 'Login'},
    {href: './registration/', text: 'Registration'},
    {href: './landing/', text: 'Landing'},
    {href: './search-room/', text: 'Search Room'},
    {href: './room-details/', text: 'Room Details'},
  ])
