@import './globals/reset.scss';
@import './globals/common.scss';
@import './globals/consts.scss';
@import './fonts/fonts.scss';
@import './pages/ui-kit.scss';

// components
@import './components/text-field/text-field.scss';
@import './components/dropdown/dropdown.scss';
@import './components/checkbox/checkbox.scss';
@import './components/radio-button/radio-button.scss';
@import './components/toggle/toggle.scss';
@import './components/like-button/like-button.scss';
@import './components/rate-button/rate-button.scss';
@import './components/range-slider/range-slider.scss';
@import './components/buttons/button.scss';
@import './components/buttons/button_border.scss';
@import './components/buttons/button_flat.scss';
@import './components/buttons/button_pay.scss';
