@import "./reset";
@import "./consts";
@import "./fonts/fonts";

@import "./components/index";

@import "./pages/common";
@import "./pages/landing/index";
@import "./pages/login/index";
@import "./pages/registration/index";
@import "./pages/room-details/index";
@import "./pages/search-room/index";
@import "./pages/ui-kit/index";

h1 {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 29px;
}

h2 {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: 12px;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  line-height: 15px;
  text-transform: uppercase;
}

hr {
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid $dark-shade-25;
}

body {
  color: $dark-shade-75;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
}

.container {
  padding-right: 140px;
  padding-left: 140px;
}

@media (max-width: $large-screen) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: $small-screen) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
