include ../element-wrapper/element-wrapper.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown-counter/dropdown-counter.pug
include ../calendar/calendar.pug
include ../button/button.pug
include ../card/card.pug

mixin search-room-card
  .search-room-card
    +card()
      h1.search-room-card__title
        | Найдём номера под
        | ваши пожелания
      +date-dropdown('прибытие', 'выезд')
      +element-wrapper({ label: 'гости'})
        +dropdown-counter({
          id: 'search-room-guests-counter',
          placeholder: 'Сколько гостей',
          counters: [
            {name: 'взрослые', value: 0},
            {name: 'дети', value: 0},
            {name: 'младенцы', value: 0}
          ],
          counting_way: 'sum',
          declensions: {'singular': 'гость', 'genitive': 'гостя', 'plural': 'гостей'},
          opened: false, with_action_buttons: true
        })
      +button({type: 'action'})
        | Подобрать номер
