.text-field {
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  font-family: "Montserrat";
  background-color: #ffffff;
  padding: 12px 13px;
  font-size: 14px;
  line-height: 18px;
  color: $dark-shade-25;
}

.text-field_focused,
.text-field:hover,
.text-field:focus {
  border: 1px solid $dark-shade-50;
  color: $dark-shade-75;
}
