.text-field {
  @include input-element();

  width: 100%;
  padding: 12px 13px;

  &::placeholder {
    color: $dark-shade-25;
  }
}

.text-field_focused,
.text-field:hover,
.text-field:focus {
  border: 1px solid $dark-shade-50;
  color: $dark-shade-75;
}
