.text-field {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 13px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  background-color: #fff;
  color: $dark-shade-25;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;

  &::placeholder {
    color: $dark-shade-25;
  }
}

.text-field_focused,
.text-field:hover,
.text-field:focus {
  border: 1px solid $dark-shade-50;
  color: $dark-shade-75;
}
