.account-registration-card {
  z-index: 0;
  max-width: 380px;
  border-radius: 4px;
  background-color: #fff;
  .element-wrapper__item {
    gap: 10px;
  }
}

.account-registration-card__form {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.account-registration-card__footer {
  display: flex;
  flex-flow: column nowrap;
  min-height: 44px;
  padding-top: 10px;
  line-height: 44px;

  .button {
    min-width: 95px;
  }
}
