include ../element-wrapper/element-wrapper.pug
include ../text-field/text-field.pug
include ../radio-button/radio-button.pug
include ../link-button/link-button.pug
include ../toggle/toggle.pug
include ../button/button.pug
include ../card/card.pug

mixin account-registration-card
  .account-registration-card
    +card()
      h1
        | Регистрация аккаунта
      form.account-registration-card__form
        +element-wrapper({})
          +text-field({type: 'text', placeholder: 'Имя'})
          +text-field({type: 'text', placeholder: 'Фамилия'})
          +radio-buttons-group('registration-user-gender', [{value: 'Мужчина', checked: true}, {value: 'Женщина', checked: false}])
        +element-wrapper({label: 'Дата рождения', sub_label: '', inline:false, extra_spacing: false, large_label: false})
          +masked-text-field('account-registration-masked-text-field-id')
        +element-wrapper({label: 'данные для входа в сервис', sub_label: '', inline:false, extra_spacing: false, large_label: false})
          +text-field({type: 'email', placeholder: 'Email'})
          +text-field({type: 'password', placeholder: 'Пароль'})
          +toggle('registration-special-offers-toggle', 'registration-receive-special-offers')
            | Получать спецпредложения
        +button({type: 'action'})
          | Перейти к оплате
      .account-registration-card__footer
        +link-button({
          desc: 'Уже есть аккаунт на Toxin',
          href: '../login/',
          text: 'войти',
          button_props: {theme: 'bordered'}
        })
