.dropdown-counter {
  display: flex;
  padding: 12px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px 4px 0 0;
}

.dropdown-counter__text {
  overflow: hidden;
  max-width: 71%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-counter__list {
  width: 100%;
  padding: 5px 7px 0 15px;
  border: 1px solid $dark-shade-25;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  font-weight: bold;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.dropdown-counter__list__item {
  margin-bottom: 7px;
  list-style: none;
}
