include ../counter/counter.pug
include ../dropdown/dropdown.pug
include ../action-buttons/action-buttons.pug

mixin dropdown-counter({id, placeholder, counters, counting_way, declensions, opened, with_action_buttons})
  .dropdown-counter.js-dropdown-counter(
    id=id
    data-placeholder=placeholder,
    data-counting-way=counting_way,
    data-declensions=declensions,
  )
    +dropdown({text: placeholder, opened, buttonTheme: 'bordered', textTheme: 'nowrap'})
      .dropdown-counter__list
        ul.dropdown-counter__counters
          each counter, index in counters
            li.dropdown-counter__counter
              - var _id = id + '-' + index;
              +counter({
                id: _id,
                index: index,
                text: counter.name,
                initial_count: counter.value
              })

        if with_action_buttons
          +action-buttons
