include ../counter/counter.pug
include ../dropdown/dropdown.pug
include ../form-action-buttons/form-action-buttons.pug

mixin dropdown-counter(attrs)
  - var opened_class_name = attrs.opened ? "dropdown-container--opened" : "";

  .dropdown-container.js-dropdown-container(class=opened_class_name)
    .dropdown-counter.js-dropdown-counter(id=attrs.id)
      +dropdown({
          'data-placeholder': attrs.placeholder,
          'data-counting-way': attrs.counting_way,
          'data-declensions': attrs.declensions,
      })
        span.dropdown-counter__text
          | #{attrs.placeholder}

      .dropdown-container__body
        .dropdown-counter__list
          ul.dropdown-counter__counters
            each counter, index in attrs.counters
              li.dropdown-counter__counter
                - var _id = attrs.id + "-" + index;
                +counter(_id, index, counter.name, counter.value)

          if attrs.need_to_be_applied
            +form-action-buttons
